{% extends "blog/base.html" %}
{% block content %}
    <h1>SmolTur</h1>
    <p>Курсовая работа "Особенности проектирования информационной системы туристического агентства с использованием языка Python и фреймворка Django" посвящена исследованию и разработке современной системы для туристического агентства. Проект включает в себя анализ требований, проектирование базы данных, реализацию функциональности с использованием Python и Django, а также обеспечение безопасности и масштабируемости системы.</p>
{% endblock content %}